body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}
body {
	display: grid;
	grid-template-rows: 120px 1fr;
	grid-template-columns: 80% 20%;
	grid-template-areas: 
	"header header"
	"content sidebar"; /* swapped places */
}

.header {
	grid-area: header;
	text-align: center;
	padding:10px;
	background-color: rgb(130, 171, 219);
	color: white;
	font-size: 2em;
}

.sidebar {
	grid-area: sidebar;
	margin-right: right;
	padding:10px;
	background-color: rgb(169, 197, 230);
}

.sidebar-item {
    padding: 10px; /* adds inner padding */
    background: rgb(114, 189, 223); /* background color of the card */
    border: 1px solid rgb(0, 0, 0); /* border width and color */
    margin: 5px; /* outer padding */
	color: white;
	cursor: pointer; /* change cursor to hand on hover */
}

.content {
	grid-area: content;
}